<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Nhom06_CNTT2K59.Properties.Settings.testConnectionString"
            connectionString="Data Source=LEESAI\SQLEXPRESS;Initial Catalog=test;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Nhom06_CNTT2K59.Properties.Settings.QuanLyDoiBongConnectionString"
            connectionString="Data Source=LEESAI\SQLEXPRESS;Initial Catalog=QuanLyDoiBong;Persist Security Info=True;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>